# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/

# macOS
.DS_Store

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build

# Claude Code
.claude/
CLAUDE.md

# OpenSpec
openspec/

# Xcode workspace SPM resolved
*.xcworkspace/xcshareddata/swiftpm/Package.resolved

# Xcode project
*.xcodeproj/

# Dev planning docs
docs/
